<?xml version="1.0"?>
<config>
  <modules>
    <Tinkerlust_Modweight>
      <version>0.0.1</version>
    </Tinkerlust_Modweight>
  </modules>
  <global>
    <models>
      <tinkerlust_modweight>
        <class>Tinkerlust_Modweight_Model</class>
      </tinkerlust_modweight>
    </models>
    <events>
      <checkout_controller_onepage_save_shipping_method>
        <observers>
          <Tinkerlust_Modweight_Model_Observer>
            <type>singleton</type>
            <class>Tinkerlust_Modweight_Model_Observer</class>
            <method>ceilWeight</method>
          </Tinkerlust_Modweight_Model_Observer>
        </observers>
      </checkout_controller_onepage_save_shipping_method>
    </events>
  </global>
</config>
